# Docusaurus build files
/build
/.docusaurus
/node_modules
/.cache
*.log
*.lock

# Environnement et secrets
.env
.env.local
.env.development
.env.production

# Système et IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
